/* Google Font Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');

/* Font Variable Declarations */
$roboto: 'Roboto', sans-serif;
$rubik: 'Rubik', sans-serif;
$montserrat: 'Montserrat', sans-serif;
