/* Color Palette For App */

/* Whites */
$white: #FFFFFF;
$white-80: transparentize($white, 0.2);
$white-50: transparentize($white, 0.5);
$white-20: transparentize($white, 0.8);
$white-off: #F6F6F6;

/* Grays */
$gray-dark: #363636;
$gray-medium: #959595;
$gray-light: #B8B8B8;
$black: #000000;

/* Blues */
$blue: #256EFF;
$dark-blue: #264653;

/* Oranges */
$orange: #FA755A;
$red-orange: #DF4545;

/* Box Shadows */
$box-shadow: 0px 0px 10px transparentize($black, 0.9);
