/* Color Palette For App */

/* Whites */
$white: #FFFFFF;
$off-white: #F5F5F5;

/* greys */
$dark-grey: rgba(51,55,71,1);
$medium-dark-grey: rgba(168, 169, 176, 1);
$medium-grey: rgba(109,111,122,1);
$light-grey: rgba(235,235,235,1);

/* other */
$pink: rgba(234,78,127,1);
$purple: rgba(61,74,166,1);
