.m{
  &__create{
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    margin: 0 auto;
    &__heading{
      font-family: $montserrat;
      color: $dark-grey;
      font-weight: 600;
      font-size: 1.5rem;
      letter-spacing: 0.05rem;
      text-align: center;
    }
    &__description{
      font-family: $rubik;
      color: $medium-grey;
      text-align: center;
      max-width: 400px;
      margin: 1rem auto;
    }
    &__navigation{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      flex-wrap: wrap;
      &__rate{
        font-family: $montserrat;
        color: $medium-grey;
        text-align: right;
        width: 100%;
        margin: 2rem 0;
      }
    }
    &__button{
      background: $purple;
      color: $white;
      border-radius: $border-radius;
      font-family: $montserrat;
      text-transform: uppercase;
      font-weight: 600;
      padding: 1rem;
      width: 100%;
      font-size: 1rem;
      text-decoration: none;
      max-width: 120px;
      text-align: center;
      margin-left: 1rem;
      &:hover{
        transition: all 0.25s ease-in-out;
        background: darken($purple, 10%);
        color: $white;
      }
      &--ghost{
        background: transparent;
        color: $medium-grey;
        &:hover{
          background: $light-grey;
          color: $medium-grey;
        }
      }
    }
    &__hidden-input{
      display: none !important;
    }
    &__select{
      display: none !important;
      &--show{
        display: block !important;
      }
    }
    &__chip{
      &--active{
        background: $purple !important; // vuetify override
        color: $white !important; // vuetify override
      }
    }
    &__state-container{
      margin: 2rem 0 1rem 0;
    }
  }
}
